$arnold_grey: #2d3737;
$arnold_yellow: #ffde00;
$white: #fff;
$main-font: "Gotham A", "Gotham B", Gotham, "Montserrat", Verdana, sans-serif;
$button-blue: #00a1e0;
$grey: gray;
$light-grey: #D3D3D3;
$dark-blue: #155991;