* {
    margin: 0px;
    padding: 0px;
    font-family: $main-font;
}

form {
    width:80%;
    margin: auto;
    margin-top: 10%;
}

label {
    margin-bottom: 5px;
}

.missing-img{
    width: 350px;
    height: 263px;
    background-color: $light-grey;
    font-weight: bolder;
    color: $white;
}